body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}



.cat-img{
  width: 150px;
  height: 150px;
}

h1{
  text-align: center;
}

